@font-face {
  font-family: Raleway-Regular;
  src: url(Raleway-Regular.ttf);
}

* {
  font-family: "Raleway-Regular", "arial", "verdana", "georgia",
    "times new roman", "san serif";
}

body {
  overflow-x: hidden;
  margin: auto;
  max-width: 1400px;
}

/*-------HEADER-----------------------*/

.all_but_not_footer {
    margin-left: 30px;

}

/*-----LOGO & NAV-------*/

.logo_nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav_list {
  display: flex;
  width: 100%;
  font-size: 1em;
  text-align: center;
  margin-top: 22px;
  margin-left: 684px;
  margin-right: 20px;
}

.small_nav{
    display: flex;
}

.small_nav a {
  display: inline-block;
  margin: 0px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  color: black;
  padding: 35px;
}

.small_nav a:hover {
  border: 1px solid white;
  border-top-color: #0065fc;
  padding-top: 30px;
  border-top-width: 3px;
  color: #0065fc;
  font-weight: bold;
}


.nav_inscription{
  font-weight: bold;
  color: #0065fc;
  display: inline-block;
  margin: 0px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  padding: 35px;
}

/*----CONTENT ------*/
.content h2 {
  font-weight: bold;
  font-size: 1.3em;
  margin-top: 5px;
}
.content p {
  font-size: 1em;
  margin-top: -5px;
  margin-bottom: 25px;
}

/*---------SEARCH------*/

form {
  margin-bottom: 30px;
  display: flex;
}

.fa-map-marker-alt {
  background-color: #f2f2f2;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px 0px 0px 15px;
  border: 1px transparent;
  padding: 15px 20px 15px 20px;
  text-align: center;
}

#place {
  border: 1.5px #f2f2f2 solid;
  font-size: 1em;
  color: black;
  border-right: #0065fc;
}

#place:hover {
  border-color: #0065fc;
}

#search_button {
  color: white;
  background-color: #0065fc;
  border: 1px transparent solid;
  border-radius: 0px 15px 15px 0px;
  font-size: 1em;
  padding: 15px 20px 15px 20px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

#search_zoom{
    display: none;
}

/*----------FILTER---------*/

.filter {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 30px;
  width: 800px;
  flex-wrap: wrap;
}

.filter_tablet_responsive {
  display: flex;
}

.filter span {
  font-size: 1.1em;
  margin-right: 35px;
}

.filter_name {
  display: flex;
  align-items: center;
  height: 40px;
  border: 2px solid #f2f2f2;
  border-radius: 30px;
  cursor: pointer;
  padding-right: 10px;
}

.filter_name i {
  color: #0065fc;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #deebff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -3px;
}

.filter_name input {
  border: none;
  background-color: white;
  cursor: pointer;
}

.filter_name input:hover {
  color: #0065fc;
  font-weight: bold;
  font-size: 1.2em;
}

.tablet1 {
  margin-right: 20px;
}

.tablet2 {
  margin-right: 20px;
}

.tablet3 {
  margin-right: 20px;
}
/*-----------Information-------------*/

.information p i {
  color: #0065fc;
  font-size: 1em;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  border: 2px #f2f2f2 solid;
  padding: 6px 10px 6px 10px;
  text-align: center;
}

.information span {
  font-size: 1em;
  font-weight: normal;
  color: black;
}

/*------------------- MAIN--------------------*/

main {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: wrap;
  padding-right: 10px;
}

/*--------------SECTION HEBERGEMENTS A MARSEILLE--------------*/

.Hébergements_Marseille {
  border: 3px #f2f2f2 solid;
  border-radius: 20px;
  height: 618px;
  width: 65%;
  background-color: #f2f2f2;
  margin-top: 30px;
  padding-bottom: 10px;
}

.Hébergements_Marseille h2 {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 40px;
  margin-left: 30px;
}

.Hébergements_Marseille h2:hover {
  cursor: pointer;
}

.Hébergements_Marseille aside {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 25px;
  padding-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width: 98%;
}

.rooms_preview {
  border: 2px transparent solid;
  border-radius: 20px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  line-height: 10px;
}
.rooms_preview:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.904) 0px 22px 70px 4px;
}
.rooms_preview img {
  width: 225px;
  height: 115px;
  border-radius: 20px 20px 0px 0px;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  object-fit: cover;
}

.rooms_preview span {
  font-weight: bold;
}

.rooms_name {
  font-weight: bold;
  margin-left: 17px;
  font-size: 1.1em;
}

.rooms_price {
  margin-left: 17px;
  font-size: 1em;
}

.star {
  margin-left: 17px;
  margin-bottom: 10px;
  font-size: 1em;
}
.blue_star {
  color: #0065fc;
}

.grey_star {
  color: #f2f2f2;
}

.Hébergements_Marseille p a {
  text-decoration: none;
  color: black;
  font-size: 1em;
  cursor: pointer;
  font-weight: bold;
  margin-left: 30px;
  line-height: 40px;
}

.Hébergements_Marseille p a:hover {
  color: #0065fc;
  font-weight: bold;
}

/*------------------------SECION LES PLUS POPULAIRES--------------*/
.popular {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 3px transparent solid;
  border-radius: 20px;
  margin-left: 33px;
  background-color: #f2f2f2;
  border-right-width: 54px;
  border-left-width: 26px;
  border-top-width: 28px;
  border-bottom-width: 68px;
  width: 25%;
}

.popular h2 {
  font-size: 1.2em;
  font-weight: bold;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-left: 7px;
  margin-right: 7px;
}

.popular h2:hover {
  cursor: pointer;
}

.popular aside {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  row-gap: 30px;
}

.popular_rooms_preview {
  border: 2px transparent solid;
  border-radius: 20px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  width: 325px;
}

.popular_rooms_preview:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.904) 0px 22px 70px 4px;
}

.popular_rooms_preview img {
  border-radius: 20px 0px 0px 20px;
  padding-left: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  object-fit: cover;
  width: 127px;
  height: 132px;
}

.popular_star {
  margin-left: 17px;
  font-size: 1em;
}

.popular_description{
  width: 50%;
}

/*------------------------------------ACTIVITY------------------*/

.activity{
    width: 98%;
}

.activity h2 {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 65px;
}

.activity h2:hover {
  cursor: pointer;
}

.activity_list {
  display: grid;
  grid-column-gap: 3%;
  grid-row-gap: 40px;
  width: 95%;
  height: 100%;
  grid-template-areas:
    "vieux_port fort_pomegues calanques Notre_dame_de_la_Garde"
    "vieux_port fort_pomegues calanques Notre_dame_de_la_Garde"
    "vieux_port fort_pomegues calanques Notre_dame_de_la_Garde"
    "vieux_port ile_frioul calanques parc_longchamp"
    "vieux_port ile_frioul calanques parc_longchamp";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 160px 1fr;
}

.activity_list p {
  font-weight: bold;
  font-size: 1.1em;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*---------vieux port-------*/
.vieux_port {
  grid-area: vieux_port;
  border: 1px #f2f2f2 solid;
  width: 290px;
  height: 447px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.vieux_port:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.904) 0px 22px 70px 4px;
}

.vieux_port img {
  width: 290px;
  height: 385px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

/*--------------fort pomegues---------*/

.fort_pomegues {
  grid-area: fort_pomegues;
  border: 1px #f2f2f2 solid;
  width: 290px;
  height: 238px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.fort_pomegues:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.904) 0px 22px 70px 4px;
}

.fort_pomegues img {
  width: 290px;
  height: 179px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

/*-----------------Ile du frioul---------------*/

.ile_frioul {
  grid-area: ile_frioul;
  border: 1px #f2f2f2 solid;
  width: 290px;
  height: 164px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.ile_frioul:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.904) 0px 22px 70px 4px;
}

.ile_frioul img {
  width: 290px;
  height: 109px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

/*---------------Calanques------------*/
.calanques {
  grid-area: calanques;
  border: 1px #f2f2f2 solid;
  width: 290px;
  height: 447px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.calanques:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.904) 0px 22px 70px 4px;
}

.calanques img {
  width: 290px;
  height: 385px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

/*-------------------Notre Dame de la Garde-------------*/

.Notre_dame_de_la_Garde {
  grid-area: Notre_dame_de_la_Garde;
  border: 1px #f2f2f2 solid;
  width: 290px;
  height: 193px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.Notre_dame_de_la_Garde:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.904) 0px 22px 70px 4px;
}

.Notre_dame_de_la_Garde img {
  width: 290px;
  height: 137px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

/*-------------Parc Longchamp---------------*/

.parc_longchamp {
  grid-area: parc_longchamp;
  border: 1px #f2f2f2 solid;
  width: 290px;
  height: 209px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: -40px;
}

.parc_longchamp:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.904) 0px 22px 70px 4px;
}

.parc_longchamp img {
  width: 290px;
  height: 137px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

/*----------------------------FOOTER ------------------------*/

footer {
  font-size: 1em;
  background-color: #f2f2f2;
  display: flex;
  padding-top: 30px;
  padding-bottom: 15px;
  width: 1410px;;
  flex-wrap: wrap;
  padding-right: 0px;
  margin-left: 0px;
}

footer ul {
  list-style-type: none;
  display: block;
  line-height: 2;
  width: 30%;
  cursor: pointer;
  padding-left: 47px;
}

footer span {
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
}

footer li:hover {
  font-size: 1.2em;
}





/* Responsive 4k */

@media (min-width: 2560px) {

  
    .logo_nav{
        margin-left: 0px;
    }

    .nav_list{
        justify-content: normal;
        margin-left: 815px;
    }

    .Hébergements_Marseille h2{
        margin-left: 50px;
    }

    .Hébergements_Marseille p a{
        margin-left: 50px;
    }


    .activity{
        width: 100%;
    }

  .activity_list {
    display: grid;
    grid-column-gap: 3%;
    grid-row-gap: 40px;
    width: 100%;
    height: 100%;
    grid-template-areas:
      "vieux_port fort_pomegues calanques Notre_dame_de_la_Garde"
      "vieux_port fort_pomegues calanques Notre_dame_de_la_Garde"
      "vieux_port fort_pomegues calanques Notre_dame_de_la_Garde"
      "vieux_port ile_frioul calanques parc_longchamp"
      "vieux_port ile_frioul calanques parc_longchamp";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 160px 1fr;
  }

  footer{
      width: 1400px;
      padding-right: 0px;
  }

  footer ul{
      width: 29%;
  }

  }

/*Responsive Laptop 1440px */

@media (max-width: 1440px) and (min-width: 1195px) {

    body{
      max-width: none;
    }

    .all_but_not_footer{
        margin-left: 10px;
    }

    .logo_nav{
        margin-left: 0px;
    }

    .nav_list{
        justify-content: normal;
        margin-left: 57%;
    }

    .Hébergements_Marseille{
      width: 61%;
      height: 100%;
    }

    .Hébergements_Marseille aside{
      justify-content: space-around;
    }

    .Hébergements_Marseille h2{
        margin-left: 4%;
    }
    
    .Hébergements_Marseille p a{
        margin-left: 4%;
    }

    .popular{
      margin-left: 2%;
      width: 30%;
      height: 553px;
    }

    .popular h2{
      margin-right: -5%;
    }

    .popular_rooms_preview{
      width: 100%;
      padding-right: 8%;
    }

    .activity{
        width: 99%;
    }

    .activity_list {
      display: grid;
      grid-column-gap: 0%;
      grid-row-gap: 40px;
      width: 100%;
      height: 100%;
      grid-template-areas:
        "vieux_port fort_pomegues calanques Notre_dame_de_la_Garde"
        "vieux_port fort_pomegues calanques Notre_dame_de_la_Garde"
        "vieux_port fort_pomegues calanques Notre_dame_de_la_Garde"
        "vieux_port ile_frioul calanques parc_longchamp"
        "vieux_port ile_frioul calanques parc_longchamp";
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 160px 1fr;
    }

    .vieux_port{
      width: 95%;
    }

    .vieux_port img{
      width: 100%;
    }

    .fort_pomegues{
      width: 95%;
    }

    .fort_pomegues img{
      width: 100%;
    }

    .ile_frioul{
      width: 95%;
    }

    .ile_frioul img{
      width: 100%;
    }

    .calanques{
      width: 95%;
    }

    .calanques img{
      width: 100%;
    }

    .calanques p{
      margin-top: 5px;
    }

    .Notre_dame_de_la_Garde{
      width: 95%;
    }

    .Notre_dame_de_la_Garde img{
      width: 100%;
    }

    .parc_longchamp{
      width: 95%;
    }

    .parc_longchamp img{
      width: 100%;
    }

    footer{
      width: 100%;
      padding-right: 0%;
    }

    footer ul{
      width: 26%;
    }
}


/*Responsive Laptop 1025*/

@media (max-width: 1194px) and (min-width: 1025px){


  .nav_list{
    margin-left: 43%;
  }

  .Hébergements_Marseille{
    width: 55%;
    height: 100%;
  }

  .popular{
    width: 31%;
    height: 775px;
  }

  .activity img{
    width: 100%;
  }

  .vieux_port{
    width: 220px;
  }

  .fort_pomegues{
    width: 220px;
  }

  .ile_frioul{
    width: 220px;
  }

  .calanques{
    width: 220px;
  }

  .calanques p{
    margin-top: 5px;
  }

  .Notre_dame_de_la_Garde{
    width: 220px;
  }

  .parc_longchamp{
    width: 220px;
  }

  footer{
    width: 100%;
  }

  footer ul{
    width: 26%;
  }

}


  /*Responsive laptop 1024px*/

@media (max-width: 1024px) and (min-width: 769px){

    .all_but_not_footer{
        margin-left: 10px;
    }
    

    .logo_nav{
        display: flex;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        width: 0px;
    }
  
    .nav_list{
      align-items: center;
      margin-left: 460px;
    }
  
    .small_nav{
        display: flex;
    }

    .nav_inscription{
      padding-right: 23px;
    }
  
    main{
        flex-wrap: nowrap;
    }

    .popular{
      margin-right: 1%;
    }
  
    .Hébergements_Marseille{
        height: 100%;
        padding-right: 20px;
    }

    .Hébergements_Marseille h2{
        margin-left: 30px;
    }

    .Hébergements_Marseille p a{
        margin-left: 30px;
    }

    .popular{
        width: 34%;
        padding-bottom: 240px;
    }

    .activity h2{
        margin-left: 10px;
    }
  
    .activity_list {
        display: grid;
        grid-column-gap: 2%;
        grid-row-gap: 40px;
        width: 100%;
        height: 100%;
        grid-template-areas:
          "vieux_port fort_pomegues calanques Notre_dame_de_la_Garde"
          "vieux_port fort_pomegues calanques Notre_dame_de_la_Garde"
          "vieux_port fort_pomegues calanques Notre_dame_de_la_Garde"
          "vieux_port ile_frioul calanques parc_longchamp"
          "vieux_port ile_frioul calanques parc_longchamp";
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 160px 1fr;
    }

    .vieux_port{
        width: 225px;
        height: 440px;
    }
    

    .vieux_port img{
        width: 225px;
    }

    .fort_pomegues{
        width: 230px;
    }

    .fort_pomegues img{
        width: 230px;
    }

    .ile_frioul{
        width: 230px;
        height: 160px;
    }

    .ile_frioul img{
        width: 230px;
    }

    .calanques{
        width: 225px;
        height: 440px;
    }

    .calanques img{
        width: 225px;
    }

    .Notre_dame_de_la_Garde{
        width: 230px;
    }

    .Notre_dame_de_la_Garde img{
        width: 230px;
    }

    .parc_longchamp{
        width: 230px;
        height: 200px;
    }

    .parc_longchamp img{
        width: 230px;
    }

    .activity_list p{
        font-size: 0.9em;
        margin-top: 15px;
    }
  
    footer{
        flex-wrap: nowrap;
        width:100%;
    }

    footer ul{
        width: 26%;
    }
  }


/* Responsive Tablet */

@media (max-width: 768px) and (min-width: 376px) {

  

    .all_but_not_footer{
        margin-left: 0px;
    }

    header{
        margin-left: 4%;
    }
  
    .small_nav{
        display: flex;
    }

  .small_nav a{
      padding-left: 20px;
      padding-right: 20px;
      
  }

  .nav_inscription{
      padding-left: 20px;
      padding-right: 20px;
  }

  .nav_list{
      margin-left: 33%;
  }


  .filter_tablet_responsive {
    display: grid;
    grid-column-gap: 50px;
    grid-row-gap: 10px;
    grid-template-areas:
      "tablet1 tablet2"
      "tablet3 tablet4";
    grid-template-columns: 1fr 2fr;
  }

  .filter span {
    margin-bottom: 20px;
  }

  .filter {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
  }

  .filter_name {
    width: 180px;
  }

  main {
    flex-direction: column-reverse;
    padding: 0px;
  }

  .popular {
    padding-right: 0;
    padding-bottom: 85px;
    margin-left: 0px;
    width: 100%;
    border-radius: 0px;
    border: 0px;
  }

  .popular h2{
      margin-bottom: 10%;
      margin-left: 10%;
      margin-right: 10%;
      margin-top: 7%;
      font-size: 2em;
  }

  .popular aside{
    margin-left: 0%;
  }

  .popular .rooms_name{
      width: 93%;
      font-size: 1.5em;
  }

  .popular .rooms_price{
    font-size: 1.5em;
    margin-left: 4%;
  }

  .popular_rooms_preview {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .popular_rooms_preview img{
      width: 40%;
  }

  .popular_description{
      width:100%;
  }

  .popular aside{
    row-gap: 30px;
  }

  .popular_star{
      margin-top: 12%;
  }

  .Hébergements_Marseille {
    width: 100%;
    height: 100%;
    border-radius: 0px;
    border: 0px;
  }

  .Hébergements_Marseille h2 {
    margin-left: 10%;
    margin-bottom: 7%;
    margin-right: 10%;
    margin-top: 7%;
    font-size: 2em;
  }

  .Hébergements_Marseille aside {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 30px;
    width: 80%;
  }

  .Hébergements_Marseille .rooms_name{
    width: 100%;
  }

  .Hébergements_Marseille .rooms_price{
    width: 100%;
  }

  .rooms_preview {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left:10%;

  }

  .rooms_preview img {
    border-radius: 20px 0px 0px 20px;
    padding-left: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    object-fit: cover;
    width: 30%;
    height: 195px;
  }

  .room_description {
    line-height: 22px;
  }

  .star{
      margin-top: 74px;
  }

  .Hébergements_Marseille p {
      margin-left: 6%;
      width: 94%;
      font-size: 1.5em;
  }

  .Hébergements_Marseille p a {
    width: 94%;
  }

  .activity{
      width: 97%;
      margin-left: 2%;
  }

  .activity h2{
    font-size: 2em;
  }

  .activity_list {
    display: grid;
    grid-column-gap: 20%;
    grid-row-gap: 40px;
    width: 97%;
    height: 100%;
    grid-template-areas:
      "vieux_port fort_pomegues"
      "vieux_port ile_frioul"
      "calanques Notre_dame_de_la_Garde"
      "calanques parc_longchamp";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  footer {
    flex-direction: column;
    width: 100%;
    padding-right: 0px;
  }
}

/*Responsive 667px */

@media (min-width: 376px) and (max-width: 667px) {


  .nav_list{
    margin-left: 26%;
  }

  .popular_description{
    height: 139px;
  }

  .popular_description .rooms_name{
    margin-top: 11px;
    font-size: 1.2em;
  }

  .popular_description .rooms_price{
    margin-top: -15px;
    font-size: 1.1em;
  }

  .popular_star{
    margin-top: 35px;
  }

  .rooms_preview img{
    width: 151.1px;
    height: 138px;
  }

  .room_description{
    height: 139px;
  }

  .room_description .rooms_name{
    font-size: 1.2em;
    margin-top: 11px;
  }

  .room_description .rooms_price{
    font-size: 1.1em;
    margin-top: -5px;
  }

  .star{
    margin-top: 48px;
  }

 

  .activity_list{
    display: grid;
    grid-column-gap: 9%;
  }
}

/* Responsive Mobile Iphone8  ou 320pxmax*/

@media (max-width: 375px) {


    .all_but_not_footer{
        margin-left: 0px;
    }

    header{
        margin-left: 3%;
    }

    .logo_nav img{
        margin-left: 8%;
        margin-top: 20%;
    }

    .logo_nav{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 25%;
    }

    .nav_list{
      margin-left: 0;

    }

    .small_nav{
        margin-top: 0px;
        display: flex;
        justify-content: space-between;
        height: 28px;
        margin-bottom: 25%;
        padding-bottom: 7%;
    }

    .small_nav a:hover{
        color:#0065fc;
        padding-top:2%;
        border-top: none;
        border-bottom: 3px solid #0065fc;
    }


    .small_nav .nav_room{
        width: 50%;
        padding-top: 1%;
        padding-left: 36px;
        padding-right: 47px;
        padding-bottom: 0%;
        border: 3px solid transparent;
        height: 100%;
        border-bottom-color:#f2f2f2;
    }


    .small_nav .nav_activity {
        width: 50%;
        padding-top: 1%;
        padding-left: 48px;
        padding-right: 52px;
        padding-bottom: 0%;
        border: 3px solid transparent;
        height: 100%;
        border-bottom-color: #f2f2f2;
    }

    .nav_inscription{
        position: absolute;
        top: 0%;
        left: 62%;
        color: #0065fc;
        font-weight: bold;
        border: white;
        padding-bottom: 0%
        ;
    }

    .nav_inscription:hover{
        cursor: pointer;
    }

    .content h2 { 
      font-size: 1.5em;
      margin-bottom: 6%;
    }

    .content p{
        font-size: 1em;
    }

    form{
      margin-left: 4%;
    }

    #place{
      width: 100%;
    }

    #search_button{
        display: none;
    }
      
    #search_zoom{
    color: white;
    background-color: #0065fc;
    border: 1px transparent;
    border-radius: 15px 15px 15px 15px;
    font-size: 1em;
    padding: 15px 20px 15px 20px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    margin-right: 7%;
    }
   
    .filter{
        width: 100%;
        flex-direction: column;
        margin-left: -5%;
    }

    .filter span{
        font-weight: bold;
        margin-right: 80%;
        margin-bottom: 5%;
        margin-left: 5%;
    }

    .filter_tablet_responsive {
        display: grid;
        grid-column-gap: 0px;
        grid-row-gap: 15px;
        width: 90%;
        height: 155px;
        grid-template-areas:
          "tablet1 tablet2"
          "tablet3 ."
          "tablet4 .";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .tablet1 {
      grid-area: tablet1;
    }

    .tablet2 {
      grid-area: tablet2;
    }

    .tablet3 {
      grid-area: tablet3;
    }

    .tablet4 {
      grid-area: tablet4;
    }
    
    .filter_name{
        width: 90%;
    }

    .information p i{
      font-size: 0.6em;
      float: left;
      margin-right: 3%;
      margin-top: -1%;
    }

    main{
        flex-direction: column-reverse;
        padding-right: 0%;
    }

    .popular{
        width: 100%;
        border-radius: 0%;
        margin: 0px;
        border: 0px;
        padding-bottom: 10%;
    }

    .popular h2{
        width: 83%;
        margin-top: 7%;
        margin-bottom:7%;
        margin-left: 7%;
    }

    .popular aside{
        row-gap: 25px;
        margin-left: 3%;
        margin-right: 0%;
        width: 96%;
    }

    .popular_rooms_preview{
        width: 90%;
        margin-left: 16px;
    }

    .popular_description .rooms_name{
        width: 146px;
        font-size: 0.9em;
        margin-top: 15px;
        margin-bottom: 10px;
        font-weight: bold;
    }
       
    .popular_description .rooms_price{
        width: 175px;
        font-size: 0.8em;
        margin-left: 11%;
    }

    .popular_star{
        margin-top: 40px;
        font-size: 0.8em;
    }


    .Hébergements_Marseille{
        background-color: white;
        border: none;
        width: 100%;
    }

    .Hébergements_Marseille h2{
        width: 83%;
        margin-top: 7%;
        margin-left: 7%;
        margin-bottom: 7%;
    }

    .Hébergements_Marseille aside{
        row-gap: 25px;
        width: 95%;
        margin-left: 3%;
    }


    .Hébergements_Marseille .rooms_name{
      margin-top: 4%;
      width: 90%;
    }

    .Hébergements_Marseille .rooms_price{
      margin-top: 4%;
    }

    .rooms_preview{
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 195px;
        margin-left: 0px;
    }

    .rooms_preview img{
        width: 98%;
        height: 60%;
        border-radius: 20px 20px 0px 0px;
    }


    .rooms_name{
        width: 100%;
        margin-top: 4%;
        margin-bottom: 4%;
        font-size: 1em;
        font-weight: bold;
    }

    .rooms_price{
        margin-bottom: 4%;
        font-size: 0.9em;
    }

    .star{
        font-size: 0.8em;
    }

    .Hébergements_Marseille p{
      margin-top: 5%;
    }

    .Hébergements_Marseille p a{
        margin-left: 7%;
        font-weight: bold;
    }


    .activity{
        margin-top: 235%;
    }

    .activity_list {
      display: flex;
      flex-direction: column;
      margin-left: 20px;
      row-gap: 25px;
      width: 90%;
    }

    .activity h2{
        margin-top: 5px;
        margin-left: 7%;
        margin-bottom: 20px;
    }

    .vieux_port{
        width: 100%;
        height: 200px;
    }

    .vieux_port img{
        width: 100%;
        height: 139px;
        border-radius: 20px 20px 0px 0px;
        margin-top: -1px;
    }

    .fort_pomegues{
        width: 100%;
        height: 200px;
    }
    
    .fort_pomegues img{
        width: 100%;
        height: 139px;
        border-radius: 20px 20px 0px 0px;
        margin-top: -1px;
    }

    .ile_frioul{
        width: 100%;
        height: 200px;
    }

    .ile_frioul img{
        width: 100%;
        height: 139px;
        border-radius: 20px 20px 0px 0px;
        margin-top: -1px;
    }

    .calanques{
        width: 100%;
        height: 200px;
    }

    .calanques img{
        width: 100%;
        height: 139px;
        border-radius: 20px 20px 0px 0px;
        margin-top: -1px;
    }

    .Notre_dame_de_la_Garde{
        width: 100%;
        height: 200px;
    }

    .Notre_dame_de_la_Garde img{
        width: 100%;
        height: 139px;
        border-radius: 20px 20px 0px 0px;
        margin-top: -1px;
    }

    .parc_longchamp{
        width: 100%;
        height: 200px;
        margin-top: 0px;
    }

    .parc_longchamp img{
        width: 100%;
        height: 139px;
        border-radius: 20px 20px 0px 0px;
        margin-top: 1px;
    }

    footer{
        margin-top: 50px;
        font-size: 0.8em;
        width: 100%;
    }

    footer ul{
        width: 100%;
        padding-left: 8%;
    }

  }






